body {
  background-color: black;
  font-family: Verdana;
  text-align: center;
}

p {
  color: gray;
  font-size: 21px;
}

h1 {
  color: white;
  font-size: 50px;
  }

  h2 {
    color: white;
    font-weight:300;
    font-size: 43px;
  }

  a {
    color: Aquamarine;
    font-size: 16px;
  }

  #copyright {
    text-align: right;
  }
